# -------------------------
# Godot 4+
# -------------------------
.godot/
.import/
*.import
*.uid

# -------------------------
# Export configs (opcionales)
# -------------------------
export.cfg
export_credentials.cfg

# -------------------------
# Translations
# -------------------------
*.translation

# -------------------------
# Mono / C# (aunque no lo uses, no molesta)
# -------------------------
.mono/
data_*/
mono_crash.*.json

# -------------------------
# OS / Editor basura
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code (opcional)
# -------------------------
.vscode/